/* _-_- IMPORTS -_-_ */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* _-_- VAR -_-_ */

:root {
    --white: hsl(0, 0%, 90%);
    --gray: hsl(0, 0%, 20%);
    --black: hsl(0, 0%, 10%);
    --red: rgb(255, 120, 120);
    --green: rgb(120, 255, 120);
    --blue: rgb(120, 120, 255);
    --red-opacity: rgba(255, 120, 120, 0.4);
    --green-opacity: rgba(120, 255, 120, 0.4);
    --blue-opacity: rgba(120, 120, 255, 0.4);
    --font-1: 'Roboto', sans-serif;
}

/* _-_- RESET -_-_ */

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--black);
}

body {
    font-family: var(--font-1);
    background-color: var(--white);
}

/* _-_- ALL -_-_ */

.bg-light {
    background-color: var(--white);
}

.bg-dark {
    background-color: var(--black);
}

.btn {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.btn:disabled {
    background-color: var(--gray);
}

.btn-red {
    background-color: var(--red);
}

.btn-red:hover {
    background-color: var(--red-opacity);
}

.btn-green {
    background-color: var(--green);
}

.btn-green:hover {
    background-color: var(--green-opacity);
}

.btn-blue {
    background-color: var(--blue);
}

.btn-blue:hover {
    background-color: var(--blue-opacity);
}

.cursor-pointer {
    cursor: pointer;
}

.theme-light {
    background-color: var(--white);
}

.theme-dark {
    background-color: var(--black);
}